{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'base/favicon.html' %}

        <link rel="stylesheet" href="{% static 'CSS/Login.css' %}">
        <title>Staff Login</title>
    </head>

    <body>
        <div class="login">
            <a href="{% url 'home' %}" class="company">Varsity Association</a>

            <p class="title">Staff Login</p>
            {% include 'base/messages.html' %}
            <form class="login-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}

                {% include 'base/login.html' %}
            </form>
        </div>
    </body>

</html>