{% load static %}
<div class="Contact">
    <h4 class="footersubtitle">Contact Us</h4><br>
    <a class="Contactinner footertext" href="mailto:sulaiman.abuqamar@gmail.com">
        <img class="img-icon" src="{% static '../media/images/icon-email.png'%}" alt="Email">sulaiman.abuqamar@gmail.com

    </a>
    <br>
    <h4 class="footersubtitle">Follow Us</h4><br>
    <a class="Contactinner footertext" href="https://www.instagram.com/varsityassociation/">
        <img class="img-icon" src="{% static '../media/images/icon-instagram.png'%}" alt="Email">@varsityassociation
    </a>
</div>