<br><br><br><br>
<p class="text">
   Welcome to the Frequently Asked Questions section of Varsity Association. Here, we've compiled answers to common
   inquiries that participants, coaches, managers, referees, and spectators might have. If you don't find the answer
   you're looking for, please feel free to reach out to our league organizers or administrators for further assistance.
</p>
<h2 class="subtitle">1. General FAQs</h2>
<p class="bold-text">Q1: What is Varsity Association?</p>
<p class="text">Varsity Association is a basketball league that provides an opportunity for players of all ages and
   skill levels to engage in organized basketball activities in a positive and inclusive environment. </h2>
<p class="bold-text">Q2: How can I get involved in the league?</p>
<p class="text">You can get involved by registering as a player, coach, manager, referee, or even as a spectator. Check
   our website for registration details and deadlines.</p>
<p class="bold-text">Q3: When does the league season start and end?</p>
<p class="text">The league schedule varies, but generally, our seasons start [insert start date] and end [insert end
   date]. Specific dates can be found on our website or communicated through our official channels.</p>
<h2 class="subtitle">2. Registration FAQs</h2>
<p class="bold-text">Q1: How can I register as a player?</p>
<p class="text">As a player registration is unavailable, registration can only be done through a complete team. Please
   conact your school to register.</p>
<p class="bold-text">Q2: Can I register a team?</p>
<p class="text">Yes, team registration is allowed. Please refer to our website for team registration requirements and
   instructions.</p>
<p class="bold-text">Q3: What are the rules regarding player eligibility?</p>
<p class="text">To be eligible to participate, players must be currently enrolled students under the school they're
   registering with.</p>
<h2 class="subtitle">3. Schedule and Communication FAQs</h2>
<p class="bold-text">Q1: How will I know about changes to the schedule?</p>
<p class="text">Schedule changes will be communicated through our official channels, including email, whatsapp and our
   website. Please ensure your contact information is up to date</p>
<p class="bold-text">Q2. How can I contact the league organizers?</p>
<p class="text">You can find contact information for league organizers on our website. Feel free to reach out with any
   questions or concerns.</p>
<h2 class="subtitle">4. Code of Conduct FAQs</h2>
<p class="bold-text">Q1: What is the league's stance on sportsmanship?</p>
<p class="text">We uphold the highest standards of sportsmanship, respect, and fair play. All participants are expected
   to adhere to our code of conduct to maintain a positive environment</p>
<p class="bold-text">Q2: How are violations of the code of conduct addressed?</p>
<p class="text">Violations will be taken seriously and may result in disciplinary actions. Our priority is to ensure a
   safe and inclusive space for all participants.</p>
<h2 class="subtitle">Spectator FAQs</h2>
<p class="bold-text">Q1: Are spectators allowed at games?</p>
<p class="text">A: Yes, spectators are welcome. Please adhere to our spectator guidelines for respectful and supportive
   behavior.</p>
<p class="bold-text">Q2: What should I do if I witness inappropriate behavior from other spectators?</p>
<p class="text">Please report any inappropriate behavior to league officials or organizers immediately.<br><br>Remember,
   these FAQs are here to provide quick answers to some common questions. For more specific inquiries, don't hesitate to
   contact us through the channels provided on our website. We're here to help you have a positive and enjoyable
   experience with Varsity Association.</p>