<br>
<p class="text">
   Welcome to Varsity Association. By participating in League activities, accessing our services, or using our
   platforms, you agree to abide by the following Terms of Service. If you do not agree with these terms, please refrain
   from using our services and engaging in League activities.
</p>
<h2 class="subtitle">1. Participation and Eligibility</h2>
<p class="bold-text">1.1</p>
<p class="text">You must meet the eligibility criteria set by the League to participate in its activities. This includes
   age restrictions, skill level requirements, and compliance with any other rules stipulated by the League.</p>
<h2 class="subtitle">2. Code of Conduct</h2>
<p class="bold-text">2.1</p>
<p class="text">
   All participants, including players, coaches, spectators, and volunteers, are expected to uphold a high
   standard of sportsmanship, respect, and fair play during League activities.
</p>
<p class="bold-text">2.2</p>
<p class="text"> Harassment, discrimination, verbal abuse, physical violence, or any behavior deemed disruptive or
   harmful to others will not be tolerated and may result in disciplinary actions or removal from League activities.

</p>
<h2 class="subtitle">3. Registration and Fees</h2>
<p class="bold-text">3.1</p>
<p class="text">By registering for League activities, you agree to provide accurate and complete information.</p>
<p class="bold-text">3.2</p>
<p class="text">The League reserves the right to refuse or revoke registration based on its sole discretion.</p>
<p class="bold-text">3.3</p>
<p class="text">Registration fees are non-refundable unless otherwise stated in League policies.</p>
<h2 class="subtitle">4. Intellectual Property</h2>
<p class="bold-text">4.1</p>
<p class="text">The League's name, logo, content, and other intellectual property are protected by copyright, trademark,
   and other applicable laws. You may not use these without explicit permission from the League.</p>
<p class="bold-text">4.2</p>
<p class="text">Content submitted by participants (such as photos, videos, and written materials) may be used by the
   League for promotional purposes, with appropriate credit and consent.</p>
<h2 class="subtitle">5. Disclaimer of Liability</h2>
<p class="bold-text">5.1</p>
<p class="text">Participation in basketball and related activities carries inherent risks. The League is not liable for
   any injuries, damages, or losses incurred during League activities.</p>
<p class="bold-text">5.2</p>
<p class="text">The League is not responsible for the actions, statements, or conduct of participants, including
   players, coaches, spectators, and volunteers.</p>
<h2 class="subtitle">6. Termination of Services</h2>
<p class="bold-text">6.1</p>
<p class="text">The League reserves the right to suspend or terminate its services, platforms, or activities, in part or
   in full, at its discretion and without notice.</p>
<h2 class="subtitle">7. Consent and Respect</h2>
<p class="bold-text">7.1</p>
<p class="text">By participating in [Your Basketball League Name] activities, you grant the league the right to capture
   and use photos, videos, and other media content featuring you or your team for promotional purposes.</h2>
<p class="bold-text">7.2</p>
<p class="text">If a participant feels their image has been used without appropriate consent or inappropriately, they
   can contact the league to address their concerns.</h2>
<p class="bold-text">8.1</p>
<p class="text">These Terms of Service shall be governed by and construed in accordance with the laws of [Your
   Jurisdiction], without regard to its conflict of law principles.</p>
<h2 class="subtitle">9. Contact Us</h2>
<p class="bold-text">9.1</p>
<p class="text">If you have questions, concerns, or inquiries about these Terms of Service, please contact us at [insert
   contact details].<br><br>By participating in the League's activities, you acknowledge that you have read and
   understood these Terms of Service and agree to comply with them.</p>