{% extends 'football/base.html'%}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'CSS/Teams.css' %}">
{% endblock%}
{% block content %}
{% include 'base/messages.html' %}
<div class="table-container">
   <table>
      <tr class="top">
         <th class="tag">#</th>
         <th></th>
         <th class="name"></th>
         <th class="winloss">W</th>
         <th class="winloss">D</th>
         <th class="winloss">L</th>
         <th class="winloss">GF</th>
         <th class="winloss">GA</th>
         <th class="winloss">GD</th>
         <th class="winloss">PTS</th>
      </tr>
      {% for Team in teams %}
      <tr class="cursor-pointer" onclick="window.location.href='{% url 'football-team-stats' team_id=Team.team_id %}'">
         <td class=" rank">{{forloop.counter}}</td>
         <td><img class="mw" src="{{ Team.team_logo.url }}" alt="{{ Team.team_abbreviation }} Logo"></td>
         <td class="teams">{{Team.team_name }}</td>
         <td class="games winbg">{{Team.wins | default_if_none:'-'}}</td>
         <td class="games ">{{Team.draws | default_if_none:'-'}}</td>
         <td class="games winbg">{{Team.loses | default_if_none:'-'}}</td>
         <td class="games ">{{Team.goals_for | default_if_none:'-'}}</td>
         <td class="games winbg">{{Team.goals_against| default_if_none:'-'}}</td>
         <td class="games">{{Team.goals_difference | default_if_none:'-'}}</td>
         <td class="games winbg">{{Team.points | default_if_none:'-'}}</td>

      </tr>
      {% endfor %}
   </table>
</div>
{%endblock%}